<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div id="footer">
        <div id="div4"><a href="/">Home</a></div>
        <div id="div5"><a href="/users/sign-in">Sign In</a></div>
        <div id="div5"><a href="/users/sign-up">Sign Up</a></div>
      </div>
</footer>