<link rel="stylesheet" href="/css/sign_in_sign_out.css">
<div id="sign-in-form">
    <form action="/users/create-session" method="POST">
        <div id="email">
        <input type="text" name="email" id="email" required placeholder="Enter Email">
        </div>
        <div id="password">
        <input type="text" name="password" id="password" required placeholder="Enter Password">
        </div>
        <button type="submit">Log In</button>
        
        
    </form>
</div>

