
body{
margin: 0px;
    background-color: rgb(183, 209, 38);
    #heading_codeial
    {
      font-family: 'Lobster', cursive;
      font-size: 3rem;

    }
    #header {
      height: 5vh;
      width: 100vw;
      background-color: wheat;
      display: flex;
      flex-direction: left;
      
      div {
        margin: 10px;
         a {
          text-decoration: none;
          color: black;
          font-weight: 700;
          font-size: 1.2rem;
        }
      a:hover {
          color: orange;
          border-bottom: 1px solid wheat;
        }
      }
    }
}