body #footer {
  position: sticky;
  bottom: 0;
  height: 5vh;
  width: 100vw;
  background-color: wheat;
  display: flex;
  flex-direction: row;
  margin-top: 12rem;
}

body #footer div {
  margin: 10px;
}

body #footer div a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1.2rem;
}

body #footer div a:hover {
  color: orange;
  border-bottom: 1px solid wheat;
}
