body {
  margin: 0px;
  background-color: #b7d126;
}

body #heading_codeial {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
}

body #header {
  height: 5vh;
  width: 100vw;
  background-color: wheat;
  display: flex;
  flex-direction: left;
}

body #header div {
  margin: 10px;
}

body #header div a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1.2rem;
}

body #header div a:hover {
  color: orange;
  border-bottom: 1px solid wheat;
}
